@{
    ViewData["Title"] = "Area do Doador";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" role="button" asp-controller="Doador" asp-action="CriarDoador">Cadastrar Usu</a>
    <p>Foi</p>
</div>
<div class="btn-group" role="group">
    <a role="button" class="btn btn-primary" asp-controller="Doador" asp-action="EditarDoador">Editar</a>
    <a role="button" class="btn btn-primary" asp-controller="Doador" asp-action="DeleteConfirmar">DeleteConfirmar</a>
</div>
