/* _content/projeto-ong/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rub7fwncpe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rub7fwncpe] {
  color: #0077cc;
}

.btn-primary[b-rub7fwncpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rub7fwncpe], .nav-pills .show > .nav-link[b-rub7fwncpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rub7fwncpe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rub7fwncpe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rub7fwncpe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rub7fwncpe] {
  font-size: 1rem;
  line-height: inherit;
}

.tabs[b-rub7fwncpe] {
  display: flex;
  background-color: #72C4FF;
  padding: 10px;
}

.tab[b-rub7fwncpe] {
  border-radius: 5px; /* Cantos arredondados */
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover[b-rub7fwncpe] {
  background-color: #0c63ed;
}

.tab.active[b-rub7fwncpe] {
  background-color: #0c63ed;
}

/* Estilos para o conteúdo das abas */
.tab-content[b-rub7fwncpe] {
  display: none;
  padding: 500px;
  border: 1px solid #ccc;
}

.tab-content.active[b-rub7fwncpe] {
  display: block;
}

.footer[b-rub7fwncpe] {
  position: relative;
  background-color: #daeefe; /* Cor de fundo do rodapé */
  color: #72c4ff; /* Cor do texto no rodapé */
  padding: 20px 0; /* Espaçamento interno no rodapé */
}
